.App {
    max-width: 1680px;
    height: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.App > h1 {
    color: rgb(0, 225, 128)
}


.recharts-default-legend {
    background-color: rebeccapurple;
}